body {

  .header_section {
    @include grid-row();
    background-color: #4F5165;
    border-radius: 10px;
    font-family: 'Dosis', sans-serif;


    .header {
      @include grid-column(12);

    h1 {
      @include grid-column(8);
      font-size: 50px;
      text-align: left;
      color: #F4F9E9;
    }

    .logout {
      @include grid-column(2);
      font-size: 18px;
      text-align: center;
    }

    }
  }
}
