$primary-dark-color: #153243;
$primary-font-color: #F4F9E9;
$highlight-bg-color: #C3E8BD;
$border: 2px solid #4F5165;
$large-screen: 850px;

body {
    .loginctrl {
        @include grid-row();
        font-size: 22px;
        padding: 20px;
        // display: flex;
        background-color: rgba(78,81,102, 0.3);

        .login_a {
            @include grid-column(12);
            @include breakpoint(850px) {
                 @include grid-column(6);
            }

            .login {
                // @include grid-column(12);
                border: none;
                padding: 20px;
                text-align: center;
                display: block;
                border-radius: 10px;
                // .navul {
                // @include grid-row();
                .navli {
                    @include grid-column(12);
                    list-style: none;
                    font-size: 27px;
                }

                a {
                    list-style: none;
                    text-decoration: none;
                    color: $primary-font-color;
                    padding: 10px;
                    font-family: 'Poppins', sans-serif;
                    // font-weight: bold;
                    font-size: 27px;
                }
            }
        }
    }

    form.loginform {
        @include grid-column(12);
        @include breakpoint(850px) {
             @include grid-column(6);
        }

        input {
            @include grid-column(12);
            padding: 20px;
            margin: 10px auto auto;
            text-align: center;
            font-family: 'Dosis', sans-serif;
            background-color: #F4F9E9;
        }

        button {
            @include grid-column(12);
            padding: 20px;
            margin: 10px auto;
            border: $border;
            color: $primary-font-color;
            text-align: center;
            background-color: $primary-dark-color;
            font-family: 'Dosis', sans-serif;
        }
    }
}
