<section ng-controller="showmapcontroller">
  <div class="shadow">
  </div>

    <div class="map_area">
    <h1>Current Trip:</h1>

    <div id="map">


    </div>

    <div class="notes">
      <!-- <h2>Notes: </h2> -->
      <input id="notes" type="text" ng-model="note" name="notes" placeholder="Leave Notes Here">
      <button class="save_notes" ng-click="postNote(note)" name="button">Save/Broadcast</button>
    </div>

    <!-- <button id="history"><a ui-sref="triplist"></a>View Account</button> -->
    <!-- <button id="start" type="button" ng-click="startTrip()">Start Trip</button> -->

    </div>
</section>
