<section class="loginctrl" ng-controller="loginController">

  <h2>a place for drivers to find their charge</h2>
    <div class="login_a">
        <div class="login">
            <!-- <ul class="navul"> -->
            <p class="navli">already have an account? <a ui-sref="log-in">log In</a></p>
            <br>
            <br>
            <!-- </ul> -->
        </div>
    </div>

    <!-- <div class="formdiv"> -->
    <form class="loginform" action="/new-user" method="post">
        <input type="text" name="userName" placeholder="enter your name">
        <input type="email" name="emailAddress" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="text" name="car" placeholder="what do you drive?">
        <button type="submit">create account</button>
    </form>
    <!-- </div> -->


</section>
