<section class="loginctrl" ng-controller="loginController">
  <div class="login_a">
  <div class="login choice">
        <ul class="navul">
          <li class="navli">Already have an account? <a ui-sref="log-in">Log In</a></li>
          <br>
          <br>
        </ul>
  </div>
 </div>

 <form class="loginform" action="/new-user" method="post">
   <input type="text" ng-model="username" placeholder="enter your name">
   <input type="email" ng-model="user_email" placeholder="email">
   <input type="password" ng-model="user_password" placeholder="password">
   <input type="text" ng-model="user_car" placeholder="Tesla or Chevy Leaf?">
   <button type="button" ng-click="makeAccount(username, user_email, user_password, user_car)"><a ui-sref="new-trip">Create Account</a></button>
 </form>


</section>
