<section ng-controller="showTripController">
  <div class="accountInfo">
    <div class="details">
      <p> USER:<br> {{ getAccount.userName }}</p>
      <p> E-MAIL:<br> {{ getAccount.emailAddress }}</p>
      <p> CAR:<br> {{ getAccount.car }}</p>
    </div>

  <div class="trip_history">
    <h1>trip history</h1>
    <p>click on a trip to view route</p>
    <ol>
      <li ng-repeat="trip in trips">
        <a ui-sref="map({mapId:trip.id})">
        <h2 class="highlight"> TRIP: {{ trip.tripName }}</h2>
        <h3> FROM:  {{ trip.startAddress }}</h3>
        <h3> TO:  {{ trip.endAddress }}</h3>
        </a>
        <button id="delete">Delete</button>
      </li>
    </ol>
  </div>
</div>

</section>
