<section class="loginctrl" ng-controller="loginController">
  <div class="login_a">
  <div class="login choice">
        <ul class="navul">
          <br>
          <li class="navli">new to electric ave? make an account and get started here: <a ui-sref="new-user">new user</a></li>
        </ul>
  </div>
 </div>

 <form class="loginform" action="/login" method="post">
   <input type="email" name="emailAddress" placeholder="email">
   <input type="password" name="password" placeholder="password">
   <button type="submit">log in</button>
 </form>

</section>
